@import url("themes/kanagawa-dragon.css");

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0px;
}

window {
  background-color: @background;
  border-radius: 0px;
  border: 2px solid @color0;
}

/* Buttons */
button {
  background-color: @color0;
  color: @foreground;
  border-radius: 20px;
  margin: 10px;
  padding: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  outline: none;
  border: 2px solid transparent;
}

/* Hover effect */
button:hover {
  background-color: @color4;
  color: @background;
  border: 2px solid @foreground;
}

/* Button icons */
#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
